@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background: url("./svgs/BackgroundWave.svg"), linear-gradient(90deg, rgba(0,88,160,1) 13%, rgba(112,161,210,1) 100%);
	background-repeat: no-repeat, repeat;
	background-position: 0px 80vh, center;
	background-size: 100vw, 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: white;
    font-weight: lighter;
    top: auto;
}

.logo {
    width: 33vh;
    height: 33vh;
	max-height: 80vw;
	max-width: 80vw;
    /* max-height: 40px; */
    overflow: hidden;
}


@media screen and (max-height: 450px) {
	.icons-bar {
		bottom: 20vh;
	}
	.logo {
		height: 70vh;
		width: 70vh;
	}
}

@media screen and (max-height: 500px) {
	.title {
		visibility: hidden;
	}
	.logo {
		height: 60vh;
		width: 60vh;
		max-height: 70vw;
		max-width: 70vw;
	}
	.icons-bar {
        bottom: 20vh;
    }
}

@media screen and (max-height: 650px) {
    .icons-bar {
        bottom: 20vh;
    }
	html {
		background-position: 0px 88vh;
	}
}

@media screen and (max-width: 300px) {
    .title {
        font-size: 5vw;
    }
}

@media screen and (max-height: 450px) {
	.icons-bar {
		bottom: 20vh;
	}
	.logo {
		height: 70vh;
		width: 70vh;
	}
}

@media screen and (max-height: 150px) {
	.icons-bar {
		bottom: 30vh;
	}
}	

@media screen and (min-width: 1920px) {
	.title {
		font-size: 3vh
	}
}

.logo { 
	transition: transform 620ms ease-in-out;

}

.logo:hover {
	transform:rotate(180deg);
	animation-duration: 620ms;
     
}

.icons-bar {
	display: flex;
    margin: 0;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
	margin-bottom: 0px;
    transform: translate(-50%, 100%) 
}

li img {
    width: 10vh;
    height: 10vh;
	max-height: 20vw;
	max-width: 20vw;
    scale: 100%;
    color: white;
    fill: currentColor;
    padding-right: 5px;
    padding-left: 5px;
    transition: transform 350ms ease-in-out;
}

li img:hover {
    transform: scale(1.1);
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip span {
	font-size: 1.7vh;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    /* width: 120px; */
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 1.1vh;
    padding: 1vh 0;
  
    /* Position the tooltip */
    position: absolute;
	width: 7vh;
    padding-right: 1vh;
    padding-left: 1vh;
    bottom: 120%;
    left: 50%;
    margin-left: -4.5vh; /* Use half of the width (120/2 = 60), to center the tooltip */ /*You forgot to factor in the padding on the left and right so the margin was off by -10px, now using vh instead for scalablity*/
}


.tooltip:hover span {
    opacity: 100%;
}